{# Add new client template*#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Success{% endblock %}</title>
</head>
<body>
<div id="content">
    <h1>Client saved successfully.</h1>

</div>
</body>
</html>