{% extends 'base.html.twig' %}

{% block title %}Edit credential{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Edit credential</h1>

            {% include 'website/credential/website-credential-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}