{#Add new domain template#}
{% extends 'base.html.twig' %}

{% block title %}Add new domain{% endblock %}
    {% block body %}
        <div class="row">
            <div class="col-xs-5">
                <h1>Add new Domain</h1>
                {% include 'domain/domain-form.html.twig' with {'form': form} %}
            </div>
            <div class="col-xs-7"></div>
        </div>

    {% endblock %}
