{% extends 'base.html.twig' %}

{% block title %}Edit Registrar{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-5">
            <h1>Edit Registrar: {{ registrar.name }}</h1>

            {% include 'registrar/registrar-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-7"></div>
    </div>

{% endblock %}