/* Customizing Bootstrap checkbox */
.checkbox input[type=checkbox]{
    margin-left: 0px;
}

/* Customizing Bootstrap glyphicons */
.glyphicon-remove-sign, .auto-renew-off{
    color: orangered;
}

.glyphicon-warning-sign{
    color: #ead404;
}

.glyphicon-ok-sign, .auto-renew-on{
    color: lawngreen;
}

.glyphicon{
    font-size: 15px;
}

.big-glyphicon{
    font-size: 60px;
}

.med-glyphicon{
    font-size: 30px;
}

#search-results{

}

.horizontal-separator{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.glyphicon-wrench{
    color: #ff6e47;
}

.glyphicon-tasks{
    color: #394aff;
}

.glyphicon-cloud {
    color: #ffd800;
}