/* Customizing Bootstrap checkbox */
.checkbox input[type=checkbox]{
    margin-left: 0px;
}

/* Customizing Bootstrap glyphicons */
.glyphicon-remove-sign, .auto-renew-off{
    color: orangered;
}

.glyphicon-ok-sign, .auto-renew-on{
    color: lawngreen;
}

.glyphicon{
    font-size: 15px;
}

.big-glyphicon{
    font-size: 60px;
}