{% extends 'base.html.twig' %}

{% block title %}Add New Hosting Package{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add New Hosting Package</h1>

            {% include 'hosting/package/package-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}