{% extends 'base.html.twig' %}

{% block title %}Add New Client Contact{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add New Client Contact</h1>

            {% include 'client/contact/client-contacts-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5">

        </div>
    </div>
{% endblock %}