{# Add new client template*#}
{% extends 'base.html.twig' %}
    {% block body %}
        <div class="row">
            <div class="col-xs-5">
                <h1>Add new Client</h1>
                {% include 'client/client-form.html.twig' with {'form': form} %}
            </div>
        </div>

    {% endblock %}
