{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-5">
            <h1>Edit Client: {{ client.name }}</h1>
            {% include 'client/client-form.html.twig' with {'form': form} %}
        </div>
    </div>

{% endblock %}