{% extends 'base.html.twig' %}

{% block title %}Add New Website{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add new website</h1>

            {% include 'website/website-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}