{% extends 'base.html.twig' %}

{% block title %}Add a new domain {% endblock %}

{% block body %}
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ path ('add_new_domain') }}">Add New Domain</a></li>
            </ul>
        {% endblock %}
    </div>

    <h1>Add a new domain</h1>
{% endblock %}


