{% extends 'base.html.twig' %}

{% block title %}Add New Hosting{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add New Hosting</h1>
            <div class="alert alert-info" role="alert">
                Make sure that you already added a domain first!
                <a href="{{ url('add_new_domain') }}"><strong>Click here</strong></a> to add one now
            </div>

            {% include 'hosting/hosting-form.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}