{% extends 'base.html.twig' %}

{% block title %}Add New Hosting Credential{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add New Hosting Credential</h1>
            <div class="alert alert-info" role="alert">
                Make sure that you have the hosting account correctly setup first!
            </div>

            {% include 'hosting/credential/hosting-credential.html.twig' with {'form': form} %}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}